In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/magi/UAMdeconflictionMasterThesis/modelli/results.csv', sep=',',comment='#')
df5 = df[df['nNodes']==5]
df6 = df[df['nNodes']==6]
df5

,nNodes,nFlights,datFile,opt,totalTime,optTime,iterations,optimalIteration
12,5,15,grid13,398,15.312145,13.976834,1,1
13,5,15,grid18,278,16.090141,15.375819,1,1
14,5,15,grid10,316,16.791900,15.603953,1,1
15,5,15,grid11,293,17.230603,15.998871,1,1
16,5,15,grid19,365,17.520145,16.238589,1,1
...,...,...,...,...,...,...,...,...
215,5,15,airport15,598,2138.112291,157.320604,27,2
216,5,15,airport0,566,2139.726452,953.236848,27,12
217,5,15,airport14,533,2376.462983,1428.487127,30,18
218,5,15,airport7,595,2767.600240,952.040958,35,12
219,5,15,airport1,450,3080.966111,157.692634,39,2

In [4]:
found = False
for (index, row) in df5.iterrows():
    for (index2,row2) in df5.iterrows():
        if (row['datFile'] == row2['datFile'] ):
            if (row['opt']!=row2['opt'] or row['iterations']!=row2['iterations'] or row['optimalIteration']!= row2['optimalIteration']):
                print(row['datFile'], row['opt'], row2['opt'], row['iterations'], row2['iterations'], row['optimalIteration'], row2['optimalIteration'])
            else:
                found = True
print(found)

airport9 481 481 2 1 1 1
airport11 450 450 27 2 1 1
airport14 534 533 30 30 18 18
airport9 481 481 1 2 1 1
airport11 450 450 2 27 1 1
airport14 533 534 30 30 18 18
True

In [5]:
found = False
for (index, row) in df6.iterrows():
    for (index2,row2) in df6.iterrows():
        if (row['datFile'] == row2['datFile'] ):
            if ((row['opt']!=row2['opt'] or row['iterations']!=row2['iterations']) or row['optimalIteration']!= row2['optimalIteration']):
                print(row['datFile'], row['opt'], row2['opt'], row['iterations'], row2['iterations'], row['optimalIteration'], row2['optimalIteration'])
            else:
                found = True
print(found)

airport15 1037 1054 27 27 4 4
airport2 927 909 27 27 3 3
airport1 1048 1044 34 34 2 2
airport12 1065 1082 36 36 8 8
airport3 882 859 38 38 7 7

airport15 1054 1037 27 27 4 4
airport2 909 927 27 27 3 3
airport1 1044 1048 34 34 2 2
airport12 1082 1065 36 36 8 8
airport3 859 882 38 38 7 7
True

In [7]:
df6['totalTime'].max()/60

85.61813131666666