In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/magi/UAMdeconflictionMasterThesis/modelli/results.csv', sep=',',comment='#')
df5 = df[df['nNodes']==5]
df6 = df[df['nNodes']==6]
df5

,nNodes,nFlights,datFile,opt,totalTime,optTime,iterations,optimalIteration
12,5,15,grid13,398,15.312145,13.976834,1,1
13,5,15,grid18,278,16.090141,15.375819,1,1
14,5,15,grid10,316,16.791900,15.603953,1,1
15,5,15,grid11,293,17.230603,15.998871,1,1
16,5,15,grid19,365,17.520145,16.238589,1,1
...,...,...,...,...,...,...,...,...
215,5,15,airport15,598,2138.112291,157.320604,27,2
216,5,15,airport0,566,2139.726452,953.236848,27,12
217,5,15,airport14,533,2376.462983,1428.487127,30,18
218,5,15,airport7,595,2767.600240,952.040958,35,12
219,5,15,airport1,450,3080.966111,157.692634,39,2

In [4]:
found = False
for (index, row) in df5.iterrows():
    for (index2,row2) in df5.iterrows():
        if (row['datFile'] == row2['datFile'] ):
            if (row['opt']!=row2['opt'] or row['iterations']!=row2['iterations'] or row['optimalIteration']!= row2['optimalIteration']):
                print(row['datFile'], row['opt'], row2['opt'], row['iterations'], row2['iterations'], row['optimalIteration'], row2['optimalIteration'])
            else:
                found = True
print(found)

airport9 481 481 2 1 1 1
airport11 450 450 27 2 1 1
airport14 534 533 30 30 18 18
airport9 481 481 1 2 1 1
airport11 450 450 2 27 1 1
airport14 533 534 30 30 18 18
True

In [5]:
found = False
for (index, row) in df6.iterrows():
    for (index2,row2) in df6.iterrows():
        if (row['datFile'] == row2['datFile'] ):
            if ((row['opt']!=row2['opt'] or row['iterations']!=row2['iterations']) or row['optimalIteration']!= row2['optimalIteration']):
                print(row['datFile'], row['opt'], row2['opt'], row['iterations'], row2['iterations'], row['optimalIteration'], row2['optimalIteration'])
            else:
                found = True
print(found)

airport15 1037 1054 27 27 4 4
airport2 927 909 27 27 3 3
airport1 1048 1044 34 34 2 2
airport12 1065 1082 36 36 8 8
airport3 882 859 38 38 7 7

airport15 1054 1037 27 27 4 4
airport2 909 927 27 27 3 3
airport1 1044 1048 34 34 2 2
airport12 1082 1065 36 36 8 8
airport3 859 882 38 38 7 7
True

In [7]:
df6['totalTime'].max()/60

85.61813131666666

In [7]:
df1APF = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/old/2/mercedesAP_Fixed_nvar_ncon.csv")
df1APF_clean = df1APF.drop_duplicates(subset=["instance","reduceTini"], keep="first")

df1NCF = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/old/2/mercedesNC_Fixed_nvar_ncon.csv")
df1NCF_clean = df1NCF.drop_duplicates(subset=["instance","reduceTini"], keep="first")

df1DDF = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/old/2/mercedes_Fixed_nvar_ncon.csv")
df1DDF_clean = df1NCF.drop_duplicates(subset=["instance"], keep="first")

In [8]:
#APF
df2APF = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/mercedesAP_Fixed_nvar_ncon.csv")
mergedAPF=pd.merge(df1APF_clean,df2APF, on=["instance","reduceTini"], how="inner",suffixes=('','_new'))
diff = mergedAPF[mergedAPF['resultFixed_old']!=mergedAPF['resultFixed_new']]
diff[["instance","reduceTini","resultFixed_old","resultFixed_new"]]

#NCF
df2NCF = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/mercedesNC_Fixed_nvar_ncon.csv")
mergedNCF=pd.merge(df1NCF_clean,df2NCF, on=["instance","reduceTini"], how="inner",suffixes=('_old','_new'))
diff = pd.concat([mergedNCF[mergedNCF['resultFixed_old']!=mergedNCF['resultFixed_new']],diff])
diff[["instance","reduceTini","resultFixed_old","resultFixed_new"]]

#DDF
df2DDF = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/mercedes_Fixed_nvar_ncon.csv")
mergedDDF=pd.merge(df1DDF_clean,df2DDF, on="instance", how="inner",suffixes=('_old','_new'))
diff = pd.concat([mergedDDF[mergedDDF['resultFixed_old']!=mergedDDF['resultFixed_new']],diff])
diff[["instance","reduceTini","resultFixed_old","resultFixed_new"]]

KeyError: 'resultFixed_old'

In [9]:
df1AP = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/old/2/mercedesAP_nvar_ncon.csv")
df1AP_clean = df1AP.drop_duplicates(subset=["instance","reduceTini"], keep="first")

df1NC = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/old/2/mercedesNC_nvar_ncon.csv")
df1NC_clean = df1NC.drop_duplicates(subset=["instance","reduceTini"], keep="first")

df1DD = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/old/2/mercedes_nvar_ncon.csv")
df1DD_clean = df1NC.drop_duplicates(subset=["instance"], keep="first")
df1AP_clean

,instance,result,elapsedTime,totalSolveTime,totalTime,nvars,snvars,ncons,sncons,reduceTini
0,airport19,1001.736842,0.862934,0.885707,1.748641,13158,13104,47418,47418,0
1,airport15,1000.052632,0.880377,1.027457,1.907834,15831,15737,60819,60819,0
2,airport23,1.315789,0.608876,1.212841,1.821717,15066,14483,55769,55769,0
3,airport27,1001.473684,0.998261,0.801384,1.799645,13686,13624,48720,48720,0
4,airport22,1001.210526,0.906957,0.962358,1.869315,14000,13940,50851,50851,0
...,...,...,...,...,...,...,...,...,...,...
892,metroplex72,1016.741855,5.599509,94.510089,100.109598,28932,27509,126719,126719,0
893,metroplex46,1015.353383,6.870295,154.790799,161.661094,29912,28442,128323,128323,0
894,metroplex72,1016.373434,5.061684,102.956198,108.017882,28972,27549,126775,126775,1
895,metroplex90,1019.042607,3.477927,85.521184,88.999111,24505,23668,104795,104795,0
896,metroplex90,1018.674185,3.068509,63.797155,66.865664,24589,23752,104917,104917,2

In [ ]:
#AP
df2AP = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/mercedesAP_nvar_ncon.csv")
mergedAP=pd.merge(df1AP_clean,df2AP, on=["instance","reduceTini"], how="inner",suffixes=('_old','_new'))
diff = mergedAP[mergedAP['result_old']!=mergedAP['result_new']]

#NC
df2NC = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/mercedesNC_nvar_ncon.csv")
mergedNC=pd.merge(df1NC_clean,df2NC, on=["instance","reduceTini"], how="inner",suffixes=('_old','_new'))
diff = pd.concat([mergedNC[mergedNC['result_old']!=mergedNC['result_new']],diff])

#DD
df2DD = pd.read_csv("/home/magi/UAMdeconflictionMasterThesis/risultati/mercedes/times/mercedes_nvar_ncon.csv")
mergedDD=pd.merge(df1DD_clean,df2DD, on="instance", how="inner",suffixes=('_old','_new'))
diff = pd.concat([mergedDD[mergedDD['result_old']!=mergedDD['result_new']],diff])
diff[["instance","reduceTini","result_old","result_new"]]

Empty DataFrame
Columns: [instance, reduceTini, result_old, result_new]
Index: []

In [16]:
mergedAP[["totalSolveTime_old","totalSolveTime_new"]]

     totalSolveTime_old  totalSolveTime_new
0              0.885707            0.420661
1              0.801384            0.380753
2              0.962358            0.970953
3              1.210113            0.506083
4              1.465855            0.691164
..                  ...                 ...
415            2.295585            1.564071
416            1.958127            1.154275
417            1.495187            0.844587
418            2.735335            1.459306
419            2.381066            1.235001

[420 rows x 2 columns]